
@media (max-width: 991px) {
  .hero_container {
    padding-left: 60px;
    margin-top: 30%;
  }
}

@media (max-width: 575px) {
  .hero_container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30%;
  }
}


.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #023044;
  /* background-color: #eefef4;  Adjust color as needed */
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #eefef4; /*Adjust color as needed*/
  /* background-color: #023044;   */
  transition: width 0.2s;
}


@media (min-width: 991px) {
  .no-big-screen{
    display: none !important;
  }
}



.accordion__content {
  max-height: 0 !important;
  overflow: hidden !important;
  transition: max-height 0.3s ease-out !important;
}

.accordion__item.is-active .accordion__content {
  max-height: 1000px !important; /* Set this to a large enough value */
}




.-dark-mode form.input-form select,
.-dark-mode form.input-form input[type="text"],
.-dark-mode form.input-form input[type="password"],
.-dark-mode form.input-form input[type="search"],
.-dark-mode form.input-form textarea,
.-dark-mode form.input-form input[type="email"] {
  border-color: rgba(255, 255, 255, 0.2);
  color: white !important;
}

form.input-form select,
form.input-form input[type="text"],
form.input-form input[type="password"],
form.input-form input[type="search"],
form.input-form textarea,
form.input-form input[type="email"] {
  border: 0;
  outline: none;
  /* width: 100%; */
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #DDDDDD;
  font-size: 15px;
  line-height: 1.5;
  padding: 15px 22px;
  transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

form.input-form select:focus,
form.input-form input[type="text"]:focus,
form.input-form input[type="password"]:focus,
form.input-form input[type="search"]:focus,
form.input-form textarea:focus,
form.input-form input[type="email"]:focus {
  outline: none;
}

form.input-form select.-border-dark,
form.input-form input[type="text"].-border-dark,
form.input-form input[type="password"].-border-dark,
form.input-form input[type="search"].-border-dark,
form.input-form textarea.-border-dark,
form.input-form input[type="email"].-border-dark {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

form.input-form ::-moz-placeholder {
  font-weight: 400;
}

form.input-form :-ms-input-placeholder {
  font-weight: 400;
}

form.input-form ::placeholder {
  font-weight: 400;
}

form.input-form.-light label,
form.input-form.-light p {
  color: white;
}

form.input-form.-light select,
form.input-form.-light input[type="text"],
form.input-form.-light input[type="search"],
form.input-form.-light textarea,
form.input-form.-light input[type="email"] {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

form.input-form.-light ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

form.input-form.-light :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

form.input-form.-light ::placeholder {
  color: rgba(255, 255, 255, 0.7);
}



.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 2.715;
}

.col-form-label-lg {
  padding-top: calc(0.1rem + 1px);
  padding-bottom: calc(0.1rem + 1px);
  font-size: 1rem;
}

.col-form-label-sm {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.875rem;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #6c757d;
}

.form-control {
  display: block;
  width: 100%;
  /* height: 50px; */
  padding: 0px 15px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.715;
  color: #2d3436;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b2bec3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 7px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #2d3436;
  background-color: #fff;
  border-color: rgb(1, 59, 67);
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-control::-webkit-date-and-time-value {
  height: 2.715em;
}
.form-control::-webkit-input-placeholder {
  color: #b2bec3;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #b2bec3;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #b2bec3;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #b2bec3;
  opacity: 1;
}
.form-control::placeholder {
  color: #b2bec3;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #f0f3f5;
  opacity: 1;
}
.form-control::-webkit-file-upload-button {
  padding: 0px 15px;
  margin: 0px -15px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  color: #2d3436;
  background-color: #f0f3f5;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.form-control::file-selector-button {
  padding: 0px 15px;
  margin: 0px -15px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  color: #2d3436;
  background-color: #f0f3f5;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .form-control::file-selector-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #e4e7e9;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #e4e7e9;
}
.form-control::-webkit-file-upload-button {
  padding: 0px 15px;
  margin: 0px -15px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  color: #2d3436;
  background-color: #f0f3f5;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #e4e7e9;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0px 0;
  margin-bottom: 0;
  line-height: 2.715;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(2.715em + 10px);
  padding: 4px 15px;
  font-size: 0.875rem;
  border-radius: 7px;
}
.form-control-sm::-webkit-file-upload-button {
  padding: 4px 15px;
  margin: -4px -15px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.form-control-sm::file-selector-button {
  padding: 4px 15px;
  margin: -4px -15px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.form-control-sm::-webkit-file-upload-button {
  padding: 4px 15px;
  margin: -4px -15px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.form-control-lg {
  min-height: calc(2.715em + 0.2rem + 2px);
  padding: 0.1rem 1rem;
  font-size: 1rem;
  border-radius: 7px;
}
.form-control-lg::-webkit-file-upload-button {
  padding: 0.1rem 1rem;
  margin: -0.1rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.form-control-lg::file-selector-button {
  padding: 0.1rem 1rem;
  margin: -0.1rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.form-control-lg::-webkit-file-upload-button {
  padding: 0.1rem 1rem;
  margin: -0.1rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

textarea.form-control {
  min-height: calc(2.715em + 2px);
}
textarea.form-control-sm {
  min-height: calc(2.715em + 10px);
}
textarea.form-control-lg {
  min-height: calc(2.715em + 0.2rem + 2px);
}

.form-control-color {
  width: 3rem;
  height: auto;
  padding: 0px;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  height: 2.715em;
  border-radius: 7px;
}
.form-control-color::-webkit-color-swatch {
  height: 2.715em;
  border-radius: 7px;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0px 45px 0px 15px;
  -moz-padding-start: 12px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.715;
  color: #2d3436;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z' fill='rgba%28178,190,195,1%29'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 24px;
  border: 1px solid #b2bec3;
  border-radius: 7px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    -webkit-transition: none;
    transition: none;
  }
}
.form-select:focus {
  border-color: rgb(1, 59, 67);
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #ebfafa;
          box-shadow: 0 0 0 0.25rem #ebfafa;
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 15px;
  background-image: none;
}
.form-select:disabled {
  color: #b2bec3;
  background-color: #f0f3f5;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #2d3436;
}

.form-select-sm {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  font-size: 0.875rem;
  border-radius: 7px;
}

.form-select-lg {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: 7px;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #b2bec3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check-input:active {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.form-check-input:focus {
  border-color: rgb(1, 59, 67);
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #ebfafa;
          box-shadow: 0 0 0 0.25rem #ebfafa;
}
.form-check-input:checked {
  background-color: rgb(1, 59, 67);
  border-color: rgb(1, 59, 67);
}
.form-check-input2:checked {
  background-color: rgb(1, 59, 67);
  border-color: rgb(1, 59, 67);
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: rgb(1, 59, 67) !important;
  border-color: rgb(1, 59, 67);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 1;
}

.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  -webkit-transition: background-position 0.15s ease-in-out;
  transition: background-position 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-switch .form-check-input {
    -webkit-transition: none;
    transition: none;
  }
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230010f7'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check[disabled] + .btn, .btn-check:disabled + .btn {
  pointer-events: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

.form-range {
  width: 100%;
  height: calc(13px + 0.5rem);
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-range:focus {
  outline: 0;
}
.form-range:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 1px #fff, none;
          box-shadow: 0 0 0 1px #fff, none;
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, none;
}
.form-range::-moz-focus-outer {
  border: 0;
}
.form-range::-webkit-slider-thumb {
  width: 13px;
  height: 13px;
  margin-top: -4.5px;
  background-color: rgb(1, 59, 67);
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
          appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-range::-webkit-slider-thumb {
    -webkit-transition: none;
    transition: none;
  }
}
.form-range::-webkit-slider-thumb:active {
  background-color: #0063f7;
}
.form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  color: transparent;
  cursor: pointer;
  background-color: #dfe6e9;
  border-color: transparent;
  border-radius: 1rem;
}
.form-range::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background-color: rgb(1, 59, 67);
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
       appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-range::-moz-range-thumb {
    -moz-transition: none;
    transition: none;
  }
}
.form-range::-moz-range-thumb:active {
  background-color: #0063f7;
}
.form-range::-moz-range-track {
  width: 100%;
  height: 4px;
  color: transparent;
  cursor: pointer;
  background-color: #dfe6e9;
  border-color: transparent;
  border-radius: 1rem;
}
.form-range:disabled {
  pointer-events: none;
}
.form-range:disabled::-webkit-slider-thumb {
  background-color: #b2bec3;
}
.form-range:disabled::-moz-range-thumb {
  background-color: #b2bec3;
}

.form-floating {
  position: relative;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 15px;
  pointer-events: none;
  border: 1px solid transparent;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-floating > label {
    -webkit-transition: none;
    transition: none;
  }
}
.form-floating > .form-control {
  padding: 1rem 15px;
}
.form-floating > .form-control::-webkit-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::-moz-placeholder {
  color: transparent;
}
.form-floating > .form-control:-ms-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::-ms-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::placeholder {
  color: transparent;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-ms-input-placeholder) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:-webkit-autofill {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-select {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  -webkit-transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
          transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 0.65;
  -webkit-transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
          transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}
.input-group > .form-control,
.input-group > .form-select {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.input-group > .form-control:focus,
.input-group > .form-select:focus {
  z-index: 3;
}
.input-group .btn {
  position: relative;
  z-index: 2;
}
.input-group .btn:focus {
  z-index: 3;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.715;
  color: #2d3436;
  text-align: center;
  white-space: nowrap;
  background-color: #f0f3f5;
  border: 1px solid #b2bec3;
  border-radius: 7px;
}

.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text,
.input-group-lg > .btn {
  padding: 0.1rem 1rem;
  font-size: 1rem;
  border-radius: 7px;
}

.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
  padding: 4px 15px;
  font-size: 0.875rem;
  border-radius: 7px;
}

.input-group-lg > .form-select,
.input-group-sm > .form-select {
  padding-right: 60px;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group.has-validation > :nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu),
.input-group.has-validation > .dropdown-toggle:nth-last-child(n+4) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #00f7bf;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #000;
  background-color: #00f7bf;
  border-radius: 7px;
}

.was-validated :valid ~ .valid-feedback,
.was-validated :valid ~ .valid-tooltip,
.is-valid ~ .valid-feedback,
.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border-color: #00f7bf;
  padding-right: calc(2.715em + 0px);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2300f7bf' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.67875em + 0px) center;
  background-size: calc(1.3575em + 0px) calc(1.3575em + 0px);
}
.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #00f7bf;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 247, 191, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 247, 191, 0.25);
}

.was-validated textarea.form-control:valid, textarea.form-control.is-valid {
  padding-right: calc(2.715em + 0px);
  background-position: top calc(0.67875em + 0px) right calc(0.67875em + 0px);
}

.was-validated .form-select:valid, .form-select.is-valid {
  border-color: #00f7bf;
}
.was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"] {
  padding-right: 82.5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z' fill='rgba%28178,190,195,1%29'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2300f7bf' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-position: right 15px center, center right 45px;
  background-size: 24px, calc(1.3575em + 0px) calc(1.3575em + 0px);
}
.was-validated .form-select:valid:focus, .form-select.is-valid:focus {
  border-color: #00f7bf;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 247, 191, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 247, 191, 0.25);
}

.was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: #00f7bf;
}
.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
  background-color: #00f7bf;
}
.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 247, 191, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 247, 191, 0.25);
}
.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #00f7bf;
}

.form-check-inline .form-check-input ~ .valid-feedback {
  margin-left: 0.5em;
}

.was-validated .input-group .form-control:valid, .input-group .form-control.is-valid,
.was-validated .input-group .form-select:valid,
.input-group .form-select.is-valid {
  z-index: 1;
}
.was-validated .input-group .form-control:valid:focus, .input-group .form-control.is-valid:focus,
.was-validated .input-group .form-select:valid:focus,
.input-group .form-select.is-valid:focus {
  z-index: 3;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #ff0022;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #000;
  background-color: #ff0022;
  border-radius: 7px;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #ff0022;
  padding-right: calc(2.715em + 0px);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff0022'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff0022' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.67875em + 0px) center;
  background-size: calc(1.3575em + 0px) calc(1.3575em + 0px);
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #ff0022;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 0, 34, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(255, 0, 34, 0.25);
}

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
  padding-right: calc(2.715em + 0px);
  background-position: top calc(0.67875em + 0px) right calc(0.67875em + 0px);
}

.was-validated .form-select:invalid, .form-select.is-invalid {
  border-color: #ff0022;
}
.was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"] {
  padding-right: 82.5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z' fill='rgba%28178,190,195,1%29'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff0022'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff0022' stroke='none'/%3e%3c/svg%3e");
  background-position: right 15px center, center right 45px;
  background-size: 24px, calc(1.3575em + 0px) calc(1.3575em + 0px);
}
.was-validated .form-select:invalid:focus, .form-select.is-invalid:focus {
  border-color: #ff0022;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 0, 34, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(255, 0, 34, 0.25);
}

.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  border-color: #ff0022;
}
.was-validated .form-check-input:invalid:checked, .form-check-input.is-invalid:checked {
  background-color: #ff0022;
}
.was-validated .form-check-input:invalid:focus, .form-check-input.is-invalid:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 0, 34, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(255, 0, 34, 0.25);
}
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #ff0022;
}

.form-check-inline .form-check-input ~ .invalid-feedback {
  margin-left: 0.5em;
}

.was-validated .input-group .form-control:invalid, .input-group .form-control.is-invalid,
.was-validated .input-group .form-select:invalid,
.input-group .form-select.is-invalid {
  z-index: 2;
}
.was-validated .input-group .form-control:invalid:focus, .input-group .form-control.is-invalid:focus,
.was-validated .input-group .form-select:invalid:focus,
.input-group .form-select.is-invalid:focus {
  z-index: 3;
}
